<?xml version="1.0" encoding="UTF-8"?>
<module id="4878" version="2013110500">
  <modulename>book</modulename>
  <sectionid>1275</sectionid>
  <sectionnumber>8</sectionnumber>
  <idnumber></idnumber>
  <added>1433794038</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <groupmembersonly>0</groupmembersonly>
  <completion>2</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>1</completionview>
  <completionexpected>0</completionexpected>
  <availablefrom>0</availablefrom>
  <availableuntil>0</availableuntil>
  <showavailability>1</showavailability>
  <showdescription>0</showdescription>
  <availability_info>
  </availability_info>
</module>